# Config file for automatic testing at travis-ci.org

language: python

python:
  - 3.6
  - 3.5
  - 3.4
  - 2.7

install: pip install pytest

# command to run tests, e.g. python setup.py test
script: py.test
sudo: false
